#login_wrapper{
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#login_page_wrapper{
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

#login__welcome{
    margin-top: 40px;
    margin-bottom: 15px;
}

#login__p {
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
}

#login_wrapper .text_input {
    margin-top: 15px;
    width: 90%;
}

#login_wrapper .button-primary {
    width: 70%;
}

#login_wrapper .button-ghost {
    margin-top: 37px;
    margin-bottom: 37px;
}

.input_error {
    font-family: 'Open Sans';
    font-size: 12px;
    color: rgb(219, 0, 0);
    width: 90%;
    text-align: left;
}

.server_error {
    font-family: 'Open Sans';
    font-size: 15px;
    color: rgb(219, 0, 0);
    width: 90%;
    margin-bottom: 10px;
    text-align: center
}
