

#login_page_wrapper{
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

#login {
    
    &__welcome{
        margin-top: 40px;
        margin-bottom: 15px;
    }

    &__p {
        margin-bottom: 10px;
        width: 90%;
        text-align: center;
    }

}

#login_wrapper {

    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    & .text_input {
        margin-top: 15px;
        width: 90%;
    }

    & .input-box {
        margin-top: 15px;
        width: 90%;
    }

    & .button-primary {
        width: 70%;
    }

    & .button-ghost {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}



.input_error {
    font-family: 'Open Sans';
    font-size: 12px;
    color: rgb(219, 0, 0);
    width: 90%;
    text-align: left;
}

.server_error {
    font-family: 'Open Sans';
    font-size: 15px;
    color: rgb(219, 0, 0);
    width: 90%;
    margin-bottom: 10px;
    text-align: center
}
