#order-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
    

    & .order-success__chef {
        margin-top: 40px;
        flex: 1;
    }

    & .order-success__column {
        width: 80%;
        display: flex;
        margin-top: 50px;
        margin-bottom: 40px;
        flex-direction: column;
    }

    & button {
        margin-top: 15px;
    }
    
}


