

.button-primary {
    border-radius: 100px;
    background: $main-color;
    color: white;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-ghost {
    font-weight: 1000;
    border-radius: 100px;
    background: transparent;
    color: rgba(0,0,0,0.88);
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.button-add {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    height: 48px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}   

.button-add__icon {
    height: 16px;
    width: 16px;
    margin-left: 5px;
    margin-right: 10px;
}


.button-add, .button-ghost, .button-primary {
    
    & --disabled {
        opacity: 0.5;
        &:hover {
            cursor: initial;
        }
    }
}

