.white-footer {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;

    &__spacer {
        flex: 1;
    }

    & .button {
        flex: 1;
    }
}

.quantity-selector {
    display: flex;

    & h6 {
        margin-right: 15px;
    }

    &:first-child() {
        opacity: 0.7
    }

    &__button{
        margin-right: 15px;
        &:hover{
            cursor: pointer;
        }
    }
}



.add-with-price {
    border-radius: 5px;
    background-color: #FF8822;
    height: 48px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    & h5 {
        color: white;
        font-family: 'Open Sans';
        font-size: 14px;

        &:first-child{
            color: white;
            font-family: 'Open Sans';
            font-size: 14px;
            margin-right: 20px;
        }
    }
}

