#select-customers {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
}


#select-customers .search-bar {
    margin-top: 15px;
}

#select-customers .progress-bar {
    margin-top: 30px;
}

#select-customers>p {
    margin-top: 15px;
}

#select-customers>h6 {
    margin-top: 20px;
}