
$text_input_padding: 15px;
$text_input_inputborder-radius: 5px;
$text_input_inputborder-width: 1px;
$text_input-inputborder-width-focus: 2px;
$text_input_inputborder-color: #000000;
$text_input_background-color: white;
$text_input_label_font-size: 12px;
$text_input-font-family: 'Open Sans';
$text_input-color-focus: #FF8822;
$text_input-color: #000000;
$text_input-font-size:16px;
$text_input-error-font-size:12px;
$text_input-height: 56px;

.text_input{
    position: relative;
    height: $text_input-height;
}

.text_input-border{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.text_input--label-wrapper-leading {
    border: solid;
    border-bottom-left-radius: $text_input_inputborder-radius;
    border-top-left-radius: $text_input_inputborder-radius;
    border-right: transparent;
    width: $text_input_padding;
    background-color:$text_input_background-color;
}

.text_input--label-wrapper--blurred{
    position: relative;
    border: solid;
    background-color: $text_input_background-color;
    border-bottom-color: $text_input_inputborder-color;
    border-bottom-width: $text_input_inputborder-width;
    border-left: transparent;
    border-right: transparent;
}

.text_input--label-wrapper--focused, .text_input--label-wrapper--with-text{
    position: relative;
    border: solid;
    background-color: $text_input_background-color;
    border-bottom-color: $text_input_inputborder-color;
    border-bottom-width: $text_input_inputborder-width;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}


.text_input--label-wrapper-trailing {
    border: solid;
    border-bottom-right-radius: $text_input_inputborder-radius;
    border-top-right-radius: $text_input_inputborder-radius;
    border-left: transparent;
    flex: 1;
    width: $text_input_padding;
    background-color:$text_input_background-color;
}

.text_input__border-focused {
    border-color: $text_input-color-focus;
    border-width: $text_input_inputborder-width-focus;
}

.text_input__border-blurred {
    border-color: $text_input-color;
    border-width: $text_input_inputborder-width;
}



.text_input--floating-label-focused {
    position: relative;
    bottom: ($text_input_label_font-size/1.5);
    font-size: $text_input_label_font-size;
    color: $text_input-color-focus;
    padding: 0px;
    margin-right: 1px;
    margin-left: 1px;
    font-family: $text_input-font-family
}

.text_input--floating-label-blurred {
    display: none;
}

.text_input--floating-label-with-text {
    position: relative;
    bottom: ($text_input_label_font-size/1.5);
    font-size: $text_input_label_font-size;
    padding: 0px;
    margin-right: 1px;
    margin-left: 1px;
    font-family: $text_input-font-family
}



.text_input--input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: transparent;
    outline: none;
    padding-left: $text_input_padding;
    font-size: $text_input-font-size;
    font-family:$text_input-font-family
}

.text_input--error {
    top: 100%;
    position: relative;
    font-size: $text_input-error-font-size;
}