#product-detail {
    padding: 15px;
    display: flex;
    flex-direction: column;
}


#product-detail>p {
    margin-top: 15px;
}

#product-detail>h6 {
    margin-top: 20px;
}

#product-detail .basic-info {
    margin-top: 20px
}