#product-detail {
    padding: 15px;
    display: flex;
    flex-direction: column;
}


#product-detail>p {
    margin-top: 15px;
}

#product-detail>h6 {
    margin-top: 20px;
}

#product-detail .basic-info {
    margin-top: 20px
}

#product-detail .selector {
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: 5px solid rgba(0,0,0,0.2)
}

#product-detail .text-box {
    margin-top: 15px;
}