#product-detail {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;

    & > p {
        margin-top: 15px;
    }
    
    & > h6 {
        margin-top: 20px;
    }

    & .info {
        margin-top: 20px
    }


    & .selector {
        margin-top: 25px;
        padding-bottom: 15px;
        border-bottom: 5px solid rgba(0,0,0,0.2)
    }

    & .text-box {
        margin-top: 15px;
    }
}









