.search-bar input {
    background-color: transparent;
    font-size: 16px;
    font-family: 'Open Sans';
    margin-right: 12px;
    margin-left: 12px;
    flex: 1;
}

.search-bar {
    display: flex;
    align-items: center;
    border: solid;
    height: 48px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.4)
}

.search-bar--submit-button:hover {
    cursor: pointer;
}

.search-bar--icon {
    height: 18px;
    width: 18px;
}