#checkout {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;

    & .list {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
    }

    & h4 {
        margin-top: 20px;
    }

    & p {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    & button {
        margin-top: 20px;
        margin-bottom: 20px;
        align-self: flex-end
    }

    & .checkout__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 40px;
        border-bottom: 1px solid black;
    }

    &__total {
        color: rgba(0,0,0,0.65)
    }
}



