

@media only screen and (min-width: 800px) {
    .wrapper {
        height: 100vh;
        display: flex;
        flex-direction: row;

    }

    .wrapper__contents { 
        flex:1;
        & > div {
            overflow-y: scroll;
            height: 100vh;
            box-sizing: border-box;
        }
    }
    
}