.date-picker--calendar-body {
 
}

.date-picker {
    width: 250px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    padding: 15px;
}

.date-picker table {
    width: 100%;
}

.date-picker .enabled:hover {
    cursor: pointer;
}

.date-picker--date-slot , .date-picker--day-of-week {
    text-align: center;
    padding: 8px;
    font-family: 'Open Sans';
    font-size: 12px;
    color: rgba(0,0,0,0.60)
}

.date-picker--day-of-week {
    padding-left: 0px;
    padding-right: 0px;
    color: rgba(0,0,0,0.80)
}

.date-picker--month-selector {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.date-picker--month-selector img:hover {
    cursor: pointer;
}



.date-picker .selected {
    background-color: #ff8822;
    border-radius: 1000px;
}

.row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-top: 10px;
}


