
.footer-bar {
    height: 70px;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    z-index: 100;
}

.footer-bar--spacer {
    height: 70px;
}

@media only screen and (min-width:800px) {
    .footer-bar {
        width:calc((100vw - 300px));
    }
    
    .footer-bar--spacer {
        padding-top: 70px;
        
    }
}

